@using HTMLSatanizer.ViewModels;
@model List<HTMLSiteViewModel>
@{
    ViewData["Title"] = "HTML Satanizer";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to @ViewData["Title"]</h1> DA stiliziram ako nqma nishto v bazata danni ili da seed-na 
</div>


<section>
    <div class="text-center">
        <h3 class="display-4">Latest Satanized HTML</h3>
    </div>

    @foreach (var model in Model)
    {
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">@(model.URL)</h5>
                <h6>@(model.Type)</h6>
            </div>
            <div class="card-body">
                <p class="card-text">@(model.ShortHTML)</p>
                <a asp-controller="HTML" asp-action="ById" asp-route-id="@(model.Id)" class="btn btn-primary">Full Information</a>
            </div>
        </div>
    }

    <div class="mb-2 mt-4">
        <a asp-controller="HTML" asp-action="All" asp-route-id="1" class="btn btn-primary">Check all entries</a>
    </div>
</section>
