@using HTMLSatanizer.ViewModels;
@model HTMLSiteViewModel
<p>
    <button class="btn btn-primary collapse show" href="#satanizedHTML" type="button" data-toggle="collapse" data-target="#satanizedHTML" aria-expanded="true">
        Satanized HTML
    </button>
    <button class="btn btn-primary" href="#HTML" type="button" data-toggle="collapse" data-target="#HTML" aria-expanded="false">
        HTML
    </button>
    <button class="btn btn-primary" href="#detailedInfo" type="button" data-toggle="collapse" data-target="#detailedInfo" aria-expanded="false">
        Detailed Information
    </button>
</p>

<form method="post" asp-action="SendToEmail" asp-route-id="@Model.Id" >
    <input type="email" class="form-control col-3 mb-3" name="email" required />
    <button class="btn btn-warning mb-3">Send To Email</button>
</form>

<div class="panel-collapse collapse show" id="satanizedHTML">
    <div class="card card-body">
        @Model.HTMLSatanized
    </div>
</div>
<div class="collapse" id="HTML">
    <div class="card card-body">

        @Model.HTML
    </div>
</div>
<div class="collapse" id="detailedInfo">
    <div class="card card-body">
        <article class="pt-2">
            <p>Source: @Model.Type</p>
            <p>Created on: <time datetime="@Model.CreatedOn.ToString("O")">@Model.CreatedOn</time></p>
            @if (Model.ModifiedOn == null)
            {
                <p>Modified on: Never</p>
            }
            else
            {
                <p>Modified on: <time datetime="@Model.ModifiedOn?.ToString("O")"></time></p>
            }
        </article>
    </div>
</div>
